
/* what's happening */
[aria-label="Timeline: Trending now"]{
  display: none !important;
}



/* topics to follow */
[aria-labelledby="accessible-list-0"] {
  display: none !important;
}

/* messages bottom element*/
[data-testid="DMDrawer"] {
  display: none !important;
}

/* explore button */
#react-root > div > div > div.css-1dbjc4n.r-18u37iz.r-13qz1uu.r-417010 > header > div > div > div > div.css-1dbjc4n.r-1habvwh > div.css-1dbjc4n.r-15zivkp.r-1bymd8e.r-13qz1uu > nav > a:nth-child(2){
 display: none !important;
}



/* likes retweets and comments counters */
span[data-testid="app-text-transition-container"] {
  display: none !important;
}